* {
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #DDD;
  font-size: 100%;
  font-weight: bold;
  font-family: 'Special Elite', Courier;
  margin: 0;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: red;
}

ul {
  text-align: left;
}

input {
  border: 0;
  padding: 0.625em;
  font-family: Courier;
  font-size: inherit;
}

.overlay {
  background-color: #fa0;
  z-index: 2;
  opacity: .1;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  top: 0;
}
