/* KOMANDE */

.komande {
  position: absolute;
  padding: .25em;
  border-radius: 5px;
  min-width: 140px;
}

.komande1, .komande2 {
  top: 10px;
}

.komande1 {
  left: 10px;
}

.komande2 {
  right: 10px;
}

/* ENERGIJA */

.progress-wrapper {
  position: relative;
}

.progress-wrapper progress {
  background-color: inherit;
  display: block;
  height: 24px;
  width: 100%;
}

.progress-wrapper progress::-webkit-progress-value {
  background: #D94A38;
  color: #D94A38;
}

.progress-wrapper progress::-moz-progress-bar {
  background: #D94A38;
  color: #D94A38;
}

.progress-wrapper .energija {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}
