@font-face {
  font-family: '1942';
  src: url('/assets/fonts/1942.ttf');
}

@font-face {
  font-family: 'Special Elite';
  src: url('/assets/fonts/SpecialElite.ttf');
}

/** FONTOVI **/

.font1942 {
  font-family: '1942', Courier;
}

.elite {
  font-family: 'Special Elite';
}


/** PORAVNANJE **/

.levo {
  text-align: left;
}

.desno {
  text-align: right;
}

.centar {
  text-align: center;
}

/** POMOCNO **/

.bold {
  font-weight: bold;
}
