/* @font-face {
  font-family: '1942';
  src: url('/assets/fonts/1942.ttf');
} */

@font-face {
  font-family: 'Special Elite';
  src: url('/assets/fonts/SpecialElite.ttf');
}

@font-face {
  font-family: "Press Start 2P";
  src: url("/assets/fonts/PressStart2P.ttf");
}

/* DEFAULTS */

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #DDD;
  cursor: url(/assets/images/rpgui/cursor/default.png), auto;
  filter: sepia(0.3);
  font-family: 'Press Start 2P', Courier;
  font-size: 0.8em;
  image-rendering: pixelated;
  line-height: 22px;
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  color: yellow;
  margin-left: 20px;
}

/* BOJE */

.bg-black {
  background-color: black;
}

.valencia {
  color: #D94A38;
}

.avocado {
  color: #848C58;
}

.bg-avocado {
  background-color: #848C58;
}

/* DUGMICI */

button {
  background-color: #D94A38;
  border-radius: 6px;
  border: 1px solid gray;
  cursor: inherit;
  font-family: inherit;
  font-size: inherit;
  min-width: 96px;
  padding: 16px 24px;
  transition: background-color .4s;
}

button:hover {
  background-color: red;
}

.prozorce button {
  text-transform: uppercase;
}

.dva-igraca {
  padding: 5px 10px;
}

/* GUI */

.komande {
  border-radius: 5px;
  line-height: 1.4;
  padding: 4px;
  position: absolute;
  top: 8px;
}

.komande1 {
  left: 8px;
}

.komande2 {
  right: 8px;
}

.komande .tipke {
  margin-top: 4px;
}

.komande button {
  margin-top: 2px;
}

progress {
  width: 100%;
  background-color: transparent;
  border: 1px solid #000;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #D94A38;
}

progress::-moz-progress-bar {
  background-color: #D94A38;
}

.progress-wrapper {
  position: relative;
}

.progress-wrapper progress {
  height: 24px;
}

.progress-wrapper .energija {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

.prozorce {
  background-color: rgba(0,0,0, 0.8);
  border-radius: 5px;
  color: #848C58;
  left: 50%;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%,-50%);
}

.prozorce button:nth-of-type(n+2) {
  margin-left: 20px;
}

.rpgui-container h1,
.rpgui-container h2,
.rpgui-container h3 {
  /* order is important */
  background: linear-gradient(to bottom, #ff8a00 0%, yellow 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

/* POMOC */

.pointer {
  cursor: pointer;
}

.bg-poluprovidno {
  background-color: rgba(255, 255, 255, 0.5);
}

.absolute {
  position: absolute;
}

.full {
  width: 100%;
}

.centar {
  text-align: center;
}

.bold {
  font-weight: bold;
}
