@font-face {
  font-family: 'Special Elite';
  src: url('/assets/fonts/SpecialElite.ttf');
}

@font-face {
  font-family: "Press Start 2P";
  src: url("/assets/fonts/PressStart2P.ttf");
}

/*
#3B3024 (Tamno smeđa)
#C4B99C (Bež ton zemlje)

#1B1B1B (Grafitno crna)
#F8F7F3 (Krem-bela)
*/

:root {
  --razmak: 8px;
  --zaobljenost: 2px;
}

/* DEFAULTS */

* {
  user-select: none;
  box-sizing: border-box;
}

body {
  background-color: #ECEBE4;
  cursor: url(/assets/images/rpgui/cursor/default.png), auto;
  filter: sepia(0.15);
  font-size: 0.8em;
  image-rendering: pixelated;
  line-height: 22px;
  margin: 0;
}

body, button {
  color: white;
  font-family: 'Press Start 2P', Courier;
  text-shadow: -2px 0 #1B1B1B, 0 2px #1B1B1B, 2px 0 #1B1B1B, 0 -2px #1B1B1B;
}

h1 {
  text-align: center;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  margin-left: 20px;
}

canvas {
  display: none;
}

/* BUTTONS */

button {
  background-color: transparent;
  /* background-color: #848C58; */
  border-radius: var(--zaobljenost);
  border: none;
  cursor: url("/assets/images/rpgui/cursor/point.png") 10 0, auto;
  outline: none;
  padding: 8px 16px;
  transition: background-color .4s;
  text-transform: uppercase;
}

.dva-igraca {
  padding: 5px 10px;
}

/* PROGRESS */

progress {
  width: 100%;
  background-color: transparent;
  border: 1px solid #1B1B1B;
  height: 22px;
  min-width: 210px;
  border-radius: var(--zaobljenost);
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #D94A38;
}

progress::-moz-progress-bar {
  background-color: #D94A38;
}

progress.potisak::-webkit-progress-value {
  background-color: #848C58;
}

progress.potisak::-moz-progress-bar {
  background-color: #848C58;
}

.progress-wrapper {
  position: relative;
}

.progress-wrapper .energija {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

/* GAME SCREEN */

.central-screen {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 512px;
}

.simple-container {
  max-width: 512px;
  text-align: center;

  & button {
    margin: 0 var(--razmak);
  }
}

.simple-container {
  background-color: rgba(0,0,0, 0.8);
  border-image-repeat: repeat;
  border-image-slice: 3 3 3 3;
  border-image-source: url(/assets/images/rpgui/border-image-grey.png);
  border-image-width: 7px;
  border-radius: var(--zaobljenost);
  color: #848C58;
  padding: 20px;
}

.press-start {
  font-size: 1.25em;
}

.white-window {
  margin-top: 10px;
  border: 2px solid white;
  padding: 10px;
  border-radius: var(--zaobljenost);
}

/* REPORT */

.report {
  background-color: #cccccc;
  background-image: url(/assets/images/document.jpg);
  background-size: cover;
  height: 290px;
  width: 460px;
}

.report p {
  color: #333;
  font-family: Courier;
  font-size: initial;
  font-weight: bold;
  letter-spacing: 0.04em;
  line-height: 1.2;
  margin: 0;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 150px;
  text-shadow: none;
}

/* SCENE UI */

.top-left, 
.top-right, 
.bottom-left,
.bottom-right {
  position: absolute;
}

.top-left {
  left: var(--razmak);
  top: var(--razmak);
}

.top-right {
  right: var(--razmak);
  top: var(--razmak);
}

.bottom-left {
  left: var(--razmak);
  bottom: var(--razmak);
}

.bottom-right {
  right: var(--razmak);
  bottom: var(--razmak);
}

.health-bar {
  width: 220px;
}

@media (max-width: 500px) {
  .health-bar {
    width: 96%;
  }
}

@media (max-width: 500px) {
  .top-left {
    top: 40px;
  }
}

/* SCREEN BUTTONS */

.game-btn {
  background: rgba(126, 126, 126, 0.5);
  border-radius: 50%;
  border: #fff solid medium;
  bottom: 30px;
  height: 60px;
  position: absolute;
  transform: translateX(-50%);
  width: 60px;
}

.joystick {
  height: 80px;
  left: 50%;
  width: 80px;
}

.jump-btn {
  left: calc(50% - 100px);
}

.special-btn {
  left: calc(50% - 190px);
}

.attack-btn {
  left: calc(50% + 100px);
}

.attack2-btn {
  left: calc(50% + 190px);
}

/* BOJE */

.bg-black {
  background-color: black;
}

.valencia {
  color: #D94A38;
}

.bg-valencia {
  background-color: #D94A38;
}

.avocado {
  color: #848C58;
}

.bg-avocado {
  background-color: #848C58;
}

/* UTILS */

.absolute {
  position: absolute;
}

.full {
  width: 100%;
}

.centar {
  text-align: center;
}

.levo {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}