/* @font-face {
  font-family: '1942';
  src: url('/assets/fonts/1942.ttf');
} */

@font-face {
  font-family: 'Special Elite';
  src: url('/assets/fonts/SpecialElite.ttf');
}

@font-face {
  font-family: "Press Start 2P";
  src: url("/assets/fonts/PressStart2P.ttf");
}

/* DEFAULTS */

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #DDD;
  cursor: url(/assets/images/rpgui/cursor/default.png), auto;
  filter: sepia(0.3);
  font-family: 'Press Start 2P', Courier;
  font-size: 0.8em;
  image-rendering: pixelated;
  line-height: 22px;
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  color: yellow;
  margin-left: 20px;
}

/* PROGRESS */

progress {
  width: 100%;
  background-color: transparent;
  border: 1px solid black;
  height: 22px;
  min-width: 210px;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #D94A38;
  background-image: url("/assets/images/rpgui/progress-red.png");
  background-repeat: repeat-x;
  background-size: 36px 100%;
}

progress::-moz-progress-bar {
  background-color: #D94A38;
  background-image: url("/assets/images/rpgui/progress-red.png");
  background-repeat: repeat-x;
  background-size: 36px 100%;
}

.progress-wrapper {
  position: relative;
}

.progress-wrapper .energija {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

/* BUTTONS */

button {
  background-color: #D94A38;
  border-radius: 6px;
  border: none;
  cursor: url("/assets/images/rpgui/cursor/point.png") 10 0, auto;
  font-family: inherit;
  font-size: inherit;
  min-width: 96px;
  outline: none;
  padding: 16px 24px;
  transition: background-color .4s;
}

button:hover {
  background-color: red;
}

.prozorce button {
  text-transform: uppercase;
}

.dva-igraca {
  padding: 5px 10px;
}

.rpgui-button {
  background: url("/assets/images/rpgui/button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  min-width: 160px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}

.rpgui-button:hover {
  background-image: url("/assets/images/rpgui/button-hover.png");
}

.rpgui-button.golden {
  background-image: url("/assets/images/rpgui/button-golden.png");
  background-size: 100% 90%;
  padding-top: 5px;
  justify-content: space-between;
}

.rpgui-button.golden:before,
.rpgui-button.golden:after {
  content: "";
  width: 34px;
  height: 110%;
  margin-top: -5%;
}

.rpgui-button.golden:before {
  background: transparent url("/assets/images/rpgui/button-golden-left.png") no-repeat right center;
  background-size: 100% 100%;
  margin-left: -46px;
}

.rpgui-button.golden:after {
  background: transparent url("/assets/images/rpgui/button-golden-right.png") no-repeat left center;
  background-size: 100% 100%;
  margin-right: -46px;
}

/* GAME SCREEN */

.prozorce {
  background-color: rgba(0,0,0, 0.8);
  border-radius: 5px;
  color: #848C58;
  left: 50%;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%,-50%);
}

.prozorce button:nth-of-type(n+2) {
  margin-left: 20px;
}

.rpgui-container h1,
.rpgui-container h2,
.rpgui-container h3 {
  /* order is important */
  background: linear-gradient(to bottom, #ff8a00 0%, yellow 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.central-screen {
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.game-screen-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rpgui-container {
  border-image-repeat: repeat;
  border-image-width: 18px;
  border-style: solid;
  border-width: 15px;
  box-sizing: border-box;
  padding: 12px;
}

.rpgui-container.framed {
  background-color: #4E4A4E;
  border-image-slice: 6 6 6 6;
  border-image-source: url("/assets/images/rpgui/border-image.png");
}

.rpgui-container.framed-golden {
  background-color: #854C30;
  border-image-slice: 4 4 4 4;
  border-image-source: url("/assets/images/rpgui/border-image-golden.png");
}

.white-window {
  margin-top: 10px;
  border: 2px solid white;
  padding: 10px;
}

/* REPORT */

.report {
  background-color: #cccccc;
  background-image: url(/assets/images/document.jpg);
  background-size: cover;
  height: 25em;
  width: 40em;
}

.report p {
  color: #333;
  font-family: Courier;
  font-size: initial;
  font-weight: bold;
  letter-spacing: 0.04em;
  line-height: 1.2;
  margin: 0;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 164px;
  text-shadow: none;
}

/* GAME UI */

/* top right */
.health-bar {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 220px;
}

@media (max-width: 500px) {
  .health-bar {
    left: 20px;
    width: 90%;
    top: 10px;
  }
}

/* top left */
.score {
  left: 28px;
  position: absolute;
  top: 12px;
}

.score p {
  padding: 0 8px;
}

@media (max-width: 500px) {
  .score {
    top: 40px;
  }
}

.komande {
  border-radius: 5px;
  line-height: 1.4;
  padding: 4px;
  position: absolute;
  top: 8px;
}

/* top left */
.komande1 {
  left: 8px;
}

/* top right */
.komande2 {
  right: 8px;
}

.komande .tipke {
  margin-top: 4px;
}

.komande button {
  margin-top: 2px;
}

/* bottom left */
.controls {
  bottom: 18px;
  left: 20px;
  position: absolute;
}

.controls p {
  margin-bottom: 2px;
  margin-top: 2px;
}

/* bottom right */
.change-camera {
  bottom: 20px;
  image-rendering: initial;
  position: absolute;
  right: 20px;
}

/* BOJE */

.bg-black {
  background-color: black;
}

.valencia {
  color: #D94A38;
}

.avocado {
  color: #848C58;
}

.bg-avocado {
  background-color: #848C58;
}

/* UTILS */

.pointer {
  cursor: url("/assets/images/rpgui/cursor/point.png") 10 0, auto;
}

.bg-poluprovidno {
  background-color: rgba(255, 255, 255, 0.5);
}

.absolute {
  position: absolute;
}

.full {
  width: 100%;
}

.centar {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}