/* BUTTONS */

button {
  background-color: transparent;
  border: none;
}

/* CAMERA */

.change-camera {
  bottom: 20px;
  image-rendering: initial;
  position: absolute;
  right: 20px;
}

/* SCREEN BUTTONS */

.game-btn {
  background: rgba(126, 126, 126, 0.5);
  border-radius: 50%;
  border: #fff solid medium;
  bottom: 30px;
  height: 60px;
  position: absolute;
  transform: translateX(-50%);
  width: 60px;
}

.joystick {
  height: 80px;
  left: 50%;
  width: 80px;
}

.jump-btn {
  left: calc(50% - 100px);
}

.special-btn {
  left: calc(50% - 190px);
}

.attack-btn {
  left: calc(50% + 100px);
}

.attack2-btn {
  left: calc(50% + 190px);
}
